<!DOCTYPE html>
<html>
<head>
<title>苏州信易居房产经纪有限公司</title>
<link rel="Shortcut Icon" href="/static/images/favicon.ico"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="fantastico Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="/static/css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="/static/css/style.css" rel='stylesheet' type='text/css' />
<script src="/static/js/jquery-1.11.0.min.js"></script>
<link href='http://fonts.useso.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<!---- start-smoth-scrolling---->
<script type="text/javascript" src="/static/js/move-top.js"></script>
<script type="text/javascript" src="/static/js/easing.js"></script>
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
<!--start-smoth-scrolling-->
<!--start-top-nav-script-->
		<script>
			$(function() {
				var pull 		= $('#pull');
					menu 		= $('nav ul');
					menuHeight	= menu.height();
				$(pull).on('click', function(e) {
					e.preventDefault();
					menu.slideToggle();
				});
				$(window).resize(function(){
	        		var w = $(window).width();
	        		if(w > 320 && menu.is(':hidden')) {
	        			menu.removeAttr('style');
	        		}
	    		});
			});
		</script>
<!--End-top-nav-script-->
</head>
<body>
<!--start-header-->
	<div class="header" id="home">
		<div class="container">
			<div class="head">
			<div class="logo">
				<a href="index.html"><img src="/static/images/logo.png" alt="" /></a>
			</div>
			<div class="navigation">
				 <span class="menu"></span> 
					<ul class="navig">
						<li><a href={{ url_for("show_index") }} >主页</a></li>
						<li><a href={{ url_for("show_about") }}>关于我们</a></li>
						<li><a href={{ url_for("show_features") }}>主要业务</a></li>
						<li><a href={{ url_for("show_work") }}>人才招聘</a></li>
						<li><a href={{ url_for("show_contact") }}>相关支持</a></li>
						<li><a href={{ url_for("show_contact") }}>联系我们</a></li>
					</ul>
			</div>
				<div class="clearfix"></div>
			</div>
			</div>
		</div>	
	<!-- script-for-menu -->
	<!-- script-for-menu -->
		 <script>
				$("span.menu").click(function(){
					$(" ul.navig").slideToggle("slow" , function(){
					});
				});
		 </script>
		 <!-- script-for-menu -->
	 <!--start-banner-->
	 <div class="banner">
	 	<div class="container">
	 		<div class="banner-main">
	 			<div class="col-md-6 banner-left">
	 				<img src="/static/images/ph.png" alt="" />
	 			</div>
	 			<div class="col-md-6 banner-right">
	 				<h1>信易居</h1>
	 				<h2>苏州信易居房产经纪有限公司</h2>
	 				<p>苏州信易居房地产经纪有限公司，是一家专业从事房地产服务，集房地产咨询服务，房地产中介服务，房地产代理于一身的综合服务连锁机构，公司立足以人为本，“诚信铸就品牌 服务创造价值”为公司服务理念，正在逐步发展壮大。</p>
	 			</div>
	 			<div class="clearfix"></div>
	 		</div>
	 	</div>
	 </div>
	 <!--end-banner-->
     <div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >手机网站模板</a></div>
	 <!--start-client-->	
	 <!--end-client-->
	 <!--start-lorem-->	
	 <div class="lorem">
	 	<div class="container">
	 		<div class="lorem-top">
	 			<div class="col-md-4 lorem-top-left">
	 				<h2><span>公司理念</span></h2>
	 				<ul>
	 					<li><a><h3>以人为本</h3></a></li>
	 					<li><a><h3>诚信铸就品牌</h3></a></li>
	 					<li><a><h3>服务创造价值</h3></a></li>
	 				</ul>
	 			</div>
	 			<div class="col-md-8 lorem-top-right">
	 				<h3><span>苏州信易居房地产经纪有限公司</span></h3>
	 				<p>苏州信易居房地产经纪有限公司(简称“信易居房屋”)于2013年高端起步，布局锁定在苏州园区中高端社区，主要从事房地产买卖、租赁、楼盘代理、银行按揭等经纪业务，是一家专业从事房地产服务，集房地产咨询服务，房地产中介服务，房地产代理于一身的综合服务连锁机构，同时具备房地产经纪机构备案资质。</p>
     
   <p> 信易居房屋采取“门店”和“租售中心”双销售模式在苏州园区稳扎稳打，稳中求胜，目前正逐步发展壮大，2013年11月份公司仅用18分钟连续签4套高端别墅，创造房地产经纪行业的传奇，2014年公司总业绩比2013年翻一番，2015年截至7月份，公司员工创造月收入15万以上，不论是高端住宅、别墅还是楼盘代理，信易居房屋在销售上都表现非常优异。</p>          
       
   <p> 信易居房屋采用多元化的发展渠道，更专注于客户服务，提升公司品牌专业度和市场占有率，坚持“诚信铸就品牌 服务创造价值”为公司服务理念，以“为客户提供房地产交易的品质服务；为员工搭建人生价值的实现平台”为使命，与客户建立战略合作伙伴关系，力争成为苏州中高端市场的知名品牌。</p>
					<div class="lorem-top-bottom">
						<h5>瞎逼逼 你咬我啊</h5>
						<label>说出这话真是够傻逼的</label>
					</div>
					<img src="/static/images/men-1.png" alt="" />
	 			</div>
	 			<div class="clearfix"></div>
	 		</div>
	 		<div class="research">
            <h3 align="center">通过下面的网站查看我公司招聘信息</h3>
	 			<div class="col-md-4 res-left">
	 				<img src="/static/images/res-1.png" alt="" />
	 				<div class="r-btn">
	 					<a href="http://search.51job.com/list/co,c,3041030,000000,10,1.html">前程无忧</a>
	 				</div>
	 			</div>
	 			<div class="col-md-4 res-left">
	 				<img src="/static/images/res-2.png" alt="" />
	 				<div class="r-btn">
	 					<a href="http://company.zhaopin.com/CC566889122.htm">智联招聘</a>
	 				</div>
	 			</div>
	 			<div class="col-md-4 res-left">
	 				<img src="/static/images/res-3.png" alt="" />
	 				<div class="r-btn">
	 					<a href="http://qy.58.com/31438437939979/?PGTID=159611270189067206517530120&ClickID=1">58同城</a>
	 				</div>
	 			</div>
	 			<div class="clearfix"></div>
	 		</div>
	 		<div class="target">
	 			<div class="col-md-4 target-left">
	 				<h3>Professional <span>target analyzing</span></h3>
	 				<p>Phasellus sollicitudin gravida nisl, mollis feugiat metus tincidunt in. Pellentesque id sem convallis urna vehicula imperdiet. Aliquam venenatis commodo malesuada laoreet, pellentesque at mauris erat volutpat. </p>
	 				<div class="t-btn">
	 					<p>Estique<a href="#"> dova lormae</a></p>
	 				</div>
	 			</div>
	 			<div class="col-md-4 target-left">
	 				<h3>Stay focus and <span>reach your goal!</span></h3>
	 				<p>Phasellus sollicitudin gravida nisl, mollis feugiat metus tincidunt in. Pellentesque id sem convallis urna vehicula imperdiet. Aliquam venenatis commodo malesuada laoreet, pellentesque at mauris erat volutpat. </p>
	 				<div class="t-btn">
	 					<p>Deu malou <a href="#">lelopa</a></p>
	 				</div>
	 			</div>
	 			<div class="col-md-4 target-left">
	 				<h3>Your data is <span>safe with us</span></h3>
	 				<p>Phasellus sollicitudin gravida nisl, mollis feugiat metus tincidunt in. Pellentesque id sem convallis urna vehicula imperdiet. Aliquam venenatis commodo malesuada laoreet, pellentesque at mauris erat volutpat. </p>
	 				<div class="t-btn">
	 					<p>Sed vel <a href="#">aliquet es.</a></p>
	 				</div>
	 			</div>
	 			<div class="clearfix"></div>
	 		</div>
	 		<div class="project">
	 			<h2><span>员工风采</span></h2>
	 			<div class="project-top">
		 			<div class="col-md-3 project-left">
		 				<img src="/static/images/project-1.jpg" alt="" />
		 			</div>
		 			<div class="col-md-3 project-left">
		 				<img src="/static/images/project-2.jpg" alt="" />
		 			</div>
		 			<div class="col-md-3 project-left">
		 				<img src="/static/images/project-3.jpg" alt="" />
		 			</div>
		 			<div class="col-md-3 project-left">
		 				<img src="/static/images/project-4.jpg" alt="" />
		 			</div>
		 			<div class="clearfix"></div>
	 			</div>
	 		</div>
	 	</div>
	 </div>
	 <!--end-lorem-->
	 <!--start-footer-->
	 <div class="footer">
	 	<div class="container">
	 		<div class="footer-top">
	 			<div class="footer-left">
	 				<div class="footer-text">
	 					<a href={{ url_for("show_index") }} >ABOUT</a>
	 					<ul>
	 						<li><a href="#">- Lorem ipsum</a></li>
							<li><a href="#">- Dolor sit amet</a></li>
							<li><a href="#">- Nullam sed </a></li>
							<li><a href="#">- Integer sagttis eget</a></li>
	 					</ul>
	 				</div>
	 				<div class="footer-text">
	 					<a href={{ url_for("show_features") }} >FEATURES</a>
	 					<ul>
	 						<li><a href="#">- Lorem ipsum</a></li>
							<li><a href="#">- Dolor sit amet</a></li>
							<li><a href="#">- Nullam sed </a></li>
							<li><a href="#">- Integer sagttis eget</a></li>
	 					</ul>
	 				</div>
	 				<div class="footer-text">
	 					<a href={{ url_for("show_work") }} >WORK</a>
	 					<ul>
	 						<li><a href="#">- Lorem ipsum</a></li>
							<li><a href="#">- Dolor sit amet</a></li>
							<li><a href="#">- Nullam sed </a></li>
							<li><a href="#">- Integer sagttis eget</a></li>
	 					</ul>
	 				</div>
	 				<div class="footer-text">
	 					<a href={{ url_for("show_contact") }} >SUPPORT</a>
	 					<ul>
	 						<li><a href="#">- Lorem ipsum</a></li>
							<li><a href="#">- Dolor sit amet</a></li>
							<li><a href="#">- Nullam sed </a></li>
							<li><a href="#">- Integer sagttis eget</a></li>
	 					</ul>
	 				</div>
	 				<div class="footer-text">
	 					<a href={{ url_for("show_contact") }} >CONTACT</a>
	 					<ul>
	 						<li><a href="#">- Lorem ipsum</a></li>
							<li><a href="#">- Dolor sit amet</a></li>
							<li><a href="#">- Nullam sed </a></li>
							<li><a href="#">- Integer sagttis eget</a></li>
	 					</ul>
	 				</div>
	 			</div>
	 			<div class="footer-right">
	 				<ul>
	 					<li><a href="#"><span class="fb"> </span></a></li>
	 					<li><a href="#"><span class="twt"> </span></a></li>
	 					<li><a href="#"><span class="in"> </span></a></li>
	 					<li><a href="#"><span class="be"> </span></a></li>
	 					<li><a href="#"><span class="drbl"> </span></a></li>
	 				</ul>
	 			</div>
	 			<div class="clearfix"></div>
	 			<div class="footer-bottom">
	 				<p>Copyright &copy; 2015.Company name All rights reserved.;</p>
	 			</div>
	 		</div>
	 	</div>
	 	<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear' 
								 		};
										*/
										
										$().UItoTop({ easingType: 'easeOutQuart' });
										
									});
								</script>
		<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	 </div>	
	 <!--end-footer-->					 
</body>
</html>